.label1 {
  display: block;
  margin-bottom: 20px;
}

.boton {
  padding: 18px 0;
  min-width: 186px;
}

.form {
  display: flex;

  justify-content: center;
}

.img {
  max-width: 1080px;
}

.block {
  display: block;
  margin: 0 auto;
}

.naruto {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
